<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysite</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/gaming-lettering-trust-me-i-m-gamer_26507-138.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">GAME title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="removepunc" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</body>
</html>